footer {
    background: linear-gradient(45deg, rgb(7, 8, 8), rgb(7, 122, 18));
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0
}